<h1 class="text-center text-danger my-5"><%= @event.title %></h1>

<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="field py-2">
        <strong>Location:</strong> 
        <%= @event.location %>
    </div>
    <div class="field py-2">
        <strong>Date: </strong> 
        <%=  @event.date %>
    </div>
    <div class="field py-2">
        <strong>Time: </strong> 
        <%=  @event.time %>
    </div>
    <div class="field py-2">
        <ul class="attendees">
            <strong>Atendees: </strong> 
            <%=  @event.attendees.each do |attendee| %>
                <li> <%= attendee.username %> </li>
            <% end %>
        </ul>
    </div>
</div>

<div class="text-center">
    <%= link_to "Return tu all your events", events_path %><br>
</div>